@charset "ISO-8859-1";
body {
    background: #dde1e7;
    font-family: Arial, sans-serif;
}

.container {
    width: 400px;
    padding: 40px 30px;
    background: #dde1e7;
    border-radius: 10px;
    box-shadow: -3px -3px 7px #ffffff73,
                2px 2px 5px rgba(94,104,121,0.288);
    margin: 40px auto;
    text-align: center;
}

h2, h3 {
    color: #595959;
}

.field {
    height: 50px;
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 20px;
}

.input {
    height: 100%;
    width: 100%;
    padding-left: 20px;
    outline: none;
    border: none;
    font-size: 18px;
    background: #dde1e7;
    color: #595959;
    border-radius: 25px;
    box-shadow: inset 2px 2px 5px #BABECC,
                inset -5px -5px 10px #ffffff73;
}

.input:focus {
    box-shadow: inset 1px 1px 2px #BABECC,
                inset -1px -1px 2px #ffffff73;
}

.button {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    font-weight: 600;
    background: #dde1e7;
    border-radius: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #595959;
    box-shadow: 2px 2px 5px #BABECC,
               -5px -5px 10px #ffffff73;
}

.button:focus {
    color: #3498db;
    box-shadow: inset 2px 2px 5px #BABECC,
               inset -5px -5px 10px #ffffff73;
}

.results {
    margin-top: 30px;
}

.results img {
    border-radius: 10px;
    box-shadow: 2px 2px 8px #BABECC,
                -2px -2px 8px #ffffff73;
    margin-bottom: 20px;
}

form label {
    color: #595959;
}
